.heromain{
    background-image: url("https://cdn.pixabay.com/photo/2020/02/02/13/23/lagoon-4812995__340.jpg");
    
    background-repeat: no-repeat;
   
}
.herotext{

    background-color: rgba(38, 217, 208, .7);
}