.heromain{
    background-image: url("https://i.ibb.co/whCx1jz/HeroBg.jpg");
    
    background-repeat: no-repeat;
    background-position: center;
   
}
.herotext{

    background-color: rgba(98, 98, 153, 0.7);
}